# Environment & secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual environment
venv/
.venv/
env/

# Database
db.sqlite3
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Django
*.log
local_settings.py
media/

# Celery
celerybeat-schedule
celerybeat.pid
